
@{
    ViewBag.Title = "Mantenimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-3 py-3" style="user-select: none;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3" style="background: #d7dee5;">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis text-decoration-none text-dark" href="@Url.Action("Mantenimientos", "Mantenimiento")">
                    🛠️
                    Mantenimiento
                </a>
            </li>
        </ol>
    </nav>
</div>
<!-- fin -->

<main style="user-select: none;">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-info">
                <div class="card-header py-3 text-bg-info border-info">
                    <h4 class="my-0 fw-normal">Categorias</h4>
                </div>
                <div class="card-body">
                    <img src="~/assets/mantenimientos/categorias.png" class="img-thumbnail" alt="img-categoria" style="width: 10rem; border: none;">
                    <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>10 users included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                    <a class="w-100 btn btn-outline-info" href="@Url.Action("Categorias", "Mantenimiento")">Ir a Categoria 🔗</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-warning">
                <div class="card-header py-3 text-bg-warning border-warning">
                    <h4 class="my-0 fw-normal">Marcas</h4>
                </div>
                <div class="card-body">
                    <img src="~/assets/mantenimientos/marcas.png" class="img-thumbnail" alt="img-marcas" style="width: 10rem; border: none;">
                    <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>20 users included</li>
                        <li>10 GB of storage</li>
                        <li>Priority email support</li>
                        <li>Help center access</li>
                    </ul>
                    <a class="w-100 btn btn-outline-warning" href="@Url.Action("Marcas", "Mantenimiento")">Ir a Marcas 🔗</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Productos</h4>
                </div>
                <div class="card-body">
                    <img src="~/assets/mantenimientos/productos.png" class="img-thumbnail" alt="img-productos" style="width: 10rem; border: none;">
                    <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>30 users included</li>
                        <li>15 GB of storage</li>
                        <li>Phone and email support</li>
                        <li>Help center access</li>
                    </ul>
                    <a class="w-100 btn btn-outline-primary" href="@Url.Action("Productos", "Mantenimiento")">Ir a Productos 🔗</a>
                </div>
            </div>
        </div>
    </div>
</main>