
@{
    ViewBag.Title = "Marcas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3" style="background: #d7dee5; user-select: none;">
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis text-decoration-none text-dark" href="@Url.Action("Mantenimientos", "Mantenimiento")">
                    🛠️
                    Mantenimiento
                </a>
            </li>
            <li class="breadcrumb-item">
                🏷️
                Marcas
            </li>
        </ol>
    </nav>
</div>
<!-- fin -->

<div class="card mb-4 shadow">
    <div class="card-header text-bg-warning bg-warning" style="background: #4e73df; user-select: none;">
        <i class="fas fa-tags me-1"></i>
        Lista de Marcas
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-sm btn-outline-warning" onclick="btnabrirmodal(null)">
                    Registrar Marca &nbsp; <i class="fas fa-tags me-1"></i>
                </button>
            </div>
        </div>
        <hr />
        <table id="tabla" class="display cell-border table table-striped py-2 rounded-3 table-bordered border-warning" style="width: 100%; user-select: none;">
            <thead class="text-center table-warning" style="user-select: none;">
                <tr>
                    <th>Descripcion de Marca</th>
                    <th>Estado de Marca</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody class="text-center">
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="abrirmodal" tabindex="-1" aria-labelledby="btnmodalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-warning">
            <div class="modal-header border-warning">
                <h1 class="modal-title fs-5 text-bg-warning rounded-2" id="btnmodalLabel">&nbsp; Marcas <i class="fas fa-tags me-1"></i> &nbsp;</h1>
                <button type="button" class="btn-close bg-warning" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="marid" type="hidden" value="0" />
                <form class="row g-1" autocomplete="off">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="hola" id="txtdescripcion" required>
                        <label for="txtdescripcion" class="form-label">Descripcion</label>
                    </div>
                    <div class="form-floating mb-3">                        
                        <select class="form-select" id="txtestado" required>
                            <option selected disabled value="">Elige un estado...</option>
                            <option value="1">Activar Marca 😀</option>
                            <option value="0">Desactivar Marca 😭</option>
                        </select>
                        <label for="txtestado" class="form-label">Estado</label>
                    </div>
                </form>

                <!--alerta-->
                <div class="row mt-3">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            <i class="fa fa-check-circle"></i> &nbsp; An example success alert with an icon
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button class="btn btn-warning" type="button" onclick="guardar()">Guardar Marcas &nbsp; <i class="fas fa-tags me-1"></i> </button>
            </div>
        </div>
    </div>
</div>
<!--fin modal-->

@section scripts {
    <script>
        var tabladata;
        var filaseleccionada;

        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarMarcas", "Mantenimiento")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "descripcion" },
                {
                    "data": "estado",
                    "render": function (valor) {
                        if (valor) {
                            return '<span class="badge text-bg-success py-2" style="user-select: none;">Categoria Activada 😀</span>'
                        } else {
                            return '<span class="badge text-bg-danger py-2" style="user-select: none;">Categoria Desactivada 😔</span>'
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-outline-primary btn-sm btn-editar">Editar &nbsp; <i class="fas fa-pencil-alt"></i></button>' +
                        '<button type="button" class="btn btn-outline-danger btn-sm ms-2 btn-eliminar">Eliminar &nbsp; <i class="fas fa-trash-alt"></i></button>',
                    "orderable": false,
                    "searchable": false
                }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
            }
        });

        //abrir modal
        function btnabrirmodal(json) {

            $("#marid").val(0);
            $("#txtdescripcion").val("");
            $("#txtestado").val(1);

            $("#mensajeError").hide();

            if (json != null) {
                $("#marid").val(json.idmarca);
                $("#txtdescripcion").val(json.descripcion);
                $("#txtestado").val(json.estado == true ? 1 : 0);
            }
            $("#abrirmodal").modal("show");
        }
        /*
            * opcion editar
            * seleccionamos la seccion tr
        */
        $("#tabla tbody").on("click", '.btn-editar', function () {
            filaseleccionada = $(this).closest("tr");
            var data = tabladata.row(filaseleccionada).data();
            btnabrirmodal(data)
        })

        //eliminar
        $("#tabla tbody").on("click", '.btn-eliminar', function () {
            var marcaseleccionada = $(this).closest("tr");
            var data = tabladata.row(marcaseleccionada).data();

            swal({
                title: "¿Estas Seguro(a)?",
                text: "Desea Eliminar La Marca 🤔?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Si, Deseo Eliminar 🔠",
                cancelButtonText: "No, Cancelar 😅!",
                closeOnConfirm: false
            },
                function () {
                    jQuery.ajax({
                        url: '@Url.Action("EliminarMarcas", "Mantenimiento")',
                        type: "POST",
                        data: JSON.stringify({ id: data.idmarca }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.resultado) {
                                tabladata.row(marcaseleccionada).remove().draw();
                                swal("Eliminado!!", "La Marca Fue Eliminada Correctamente", "success");
                            } else {
                                swal("Cancelado", "Se ha cancelado la Operacion", "error");
                            }
                        },
                        error: function (error) {
                            console.log(error)
                        }
                    });
                });

            console.log(data);
        })

        //btn guardar
        function guardar() {
            var Marca = {
                idmarca: $("#marid").val(),
                descripcion: $("#txtdescripcion").val(),
                estado: $("#txtestado").val() == 1 ? true: false
            }

            jQuery.ajax({
                url: '@Url.Action("GuardarMarcas", "Mantenimiento")',
                type: "POST",
                data: JSON.stringify({ objeto: Marca }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(".modal-body").LoadingOverlay("hide");
                    //marca nueva
                    if (Marca.idmarca == 0) {
                        if (data.resultado != 0) {
                            Marca.idmarca = data.resultado;
                            tabladata.row.add(Marca).draw(false);
                            $("#abrirmodal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }

                    } else { //editar marca
                        if (data.resultado) {
                            tabladata.row(filaseleccionada).data(Marca).draw(false);
                            filaseleccionada = null;
                            $("#abrirmodal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }

                    }
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error al Guardar los datos");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResezeFactor: 2,
                        image: "",
                        fontawesome: "fas fa-spinner",
                        text: "Cargando ...",
                        size: 14
                    })
                }
            });
        }
    </script>
}
